queue_directory = /var/spool/postfix
command_directory = /usr/sbin
daemon_directory = /usr/libexec/postfix
data_directory = /var/lib/postfix
mail_owner = {{ postfix_mail_owner }}
inet_interfaces = all
inet_protocols = all
mydestination = {{ postfix_mydestination | join(', ') }} 
unknown_local_recipient_reject_code = 550
alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases

debug_peer_level = {{ postfix_debug_peer_level }} 
debugger_command =
         PATH=/bin:/usr/bin:/usr/local/bin:/usr/X11R6/bin
         ddd $daemon_directory/$process_name $process_id & sleep 5
sendmail_path = /usr/sbin/sendmail.postfix
newaliases_path = /usr/bin/newaliases.postfix
mailq_path = /usr/bin/mailq.postfix
setgid_group = {{ postfix_setgid_group }} 
html_directory = no
manpage_directory = /usr/share/man

mynetworks = {{ postfix_mynetworks | join(', ') }} 
myhostname = {{ postfix_myhostname }} 
relay_domains = {{ postfix_relay_domains | join(', ') }} 
